* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow-x: hidden;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    align-items: left;
}

a:hover {
    opacity: 0.7;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #171616;
    height: 8vh
}

.nav-list {
    list-style: none;
    display: flex;
    padding-left: 1000px; 
}

.nav-list li {
    letter-spacing: 4px;
    margin-top: 13px;
    padding-left: 30px;
    height: 30px;
}

.Login {
    background-color: #4CAF50;
}

.Logo {
    display: flex;
    list-style: none;
    justify-content: space-between;
    
}

.Logo img {
    display: flex;
    position: absolute;
    margin-top: center;
    margin-left: 50px;
    height: 70px;
    pointer-events: none;
}

.banner-home {
    background-image: url(/Assets/Banner/1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    pointer-events: none;
}

.seta-esquerda {
    width: 100px;
    margin-top: 170px;
    margin-left: 50px;
    opacity: 50%;
    pointer-events: none;
}

.seta-direita {
    width: 100px;
    margin-top: 170px;
    margin-right: 50px;
    position: absolute;
    right: 0px;
    opacity: 50%;
    pointer-events: none;
}

.info {
    background-image: url(/Assets/imagens-payment/3.jpg);
    margin: auto;
    margin-top: -100px;
    width: 60%;
    height: 100px;
    background-repeat: no-repeat;
    pointer-events: none;
}

h1 {
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    height: 90px;
}

.card {
    margin: auto;
    width: 80%;
    transition: 0.3s;
  }
  
.card img {
    border-radius: 20px 20px 20px 20px;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    margin-left: 70px;
    width: 230px;
    height: 220px;
}

.info-box {
    display: flex;
    justify-content: space-around;
    text-align: left;
    background-color: #171616;
    color: #ffffff9f;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}

.info-box p {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    list-style: none;
    display: flex;
    margin-left: right;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 45px;
    font-family: Arial, regular, sans-serif;
}

.info-box img {
    border-radius: 10px 10px 10px 10px;
    margin: auto;
    margin-top: 0px;
    margin-left: 130px;
    width: 650px;
    height: 522px;
}

h2 {
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    height: 90px;
}

.destaques-info {
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    height: 30px;
    color: gray
}

.produtos-card {
    margin: auto;
    width: 80%;
    transition: 0.3s;
  }
  
.produtos-card img {
    border-radius: 20px 20px 20px 20px;
    align-items: center;
    margin-top: 40px;
    margin-left: 70px;
    width: 230px;
    height: 220px;
}

.produtos-card > p {
    text-align: left;
    margin-left: 80px;
    margin-top: 90px;
}

.rodapé {
    background-color: #171616;
    width: 300%;
    height: 300px;
    margin-top: 80px;
}

.info-rodapé > li {
    color: rgba(255, 255, 255, 0.52);
    text-align: left;
    margin-left: 300px;
    margin-bottom: 50px;
    list-style: none;
    letter-spacing: 2px;
    margin-top: 13px;
}

.Logo-rodape {
    display: flex;
    list-style: none;
    justify-content: space-between;
    
}

.Logo-rodape img {
    display: flex;
    position: absolute;
    margin-top: center;
    margin-left: 50px;
    height: 70px;
    pointer-events: none;
}

.copyrights {
    color: rgba(255, 255, 255, 0.52);
    align-items: center;
    list-style: none;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-left: 839px;
}

h3 {
    color:rgba(255, 255, 255, 0.192);
    margin: auto;
    margin-top: -260px;
    margin-left: 700px;
    padding-left: 900px;
}


.icones-sociais {
    display: flex;
    position: absolute;
    margin-top: 0px;
    margin-left: 700px;
    padding-left: 900px;
    list-style-type: none;
    border-radius: 5px;
}

.icones-sociais img {
    padding: 10px;
    border-radius: 5px;
}

.icones-sociais img:hover{
    background: rgb(255, 255, 255);
}